{% extends "base.html" %}
{% block title %}
    <title>Login Page</title>
{% endblock %}
{% block content %}
            <div class=" m-auto p-3 mt-3 text-center">
                <form method="post">
                    {% csrf_token %}
                    <label>Username :</label>
                    <input type="text" name="un">
                    <br><br>
                    <label>Password</label>
                    <input type="password" name="pw">
                    <br><br>
                    <button type="submit" class="btn btn-primary"> Submit </button>
                </form>
            </div>
{% endblock %}